.overlay
  position: fixed
  width: 100%
  height: 100%
  top: 0
  left: 0
  background-color: rgba(101, 101, 101, 0.62)
  z-index: 0
  opacity: 0
  transition: visibility 0s .5s, opacity .3s .2s
  visibility: hidden

.active
  opacity: 1
  transition: visibility 0s, opacity .3s
  transition-delay: 0s
  visibility: visible