.header
  display: none

@media ($min-desktop)
  
  .header
    display: flex
    align-items: center
    justify-content: center
    font-size: 24px
    height: 90px
    font-weight: 700
    line-height: 30px    