.root
  height: 40px
  display: flex
  align-items: center
  font-size: 14px

.levelCheckbox
  margin-left: 9px
  display: flex
  align-items: center

.levelLabel
  margin-left: 8px
  margin-right: 4px