.title
  font-size: 20px
  font-weight: 700
  margin-bottom: 12px

.input
  &:not(:last-of-type)
    margin-bottom: 8px

.button
  margin-top: 20px
  width: 100%


@media ($min-desktop)

  .title
    margin-bottom: 15px

  .input
    &:not(:last-of-type)
      margin-bottom: 10px
