.root
  display: flex
  flex-direction: column

.head
  box-sizing: border-box
  height: 57px
  display: flex
  justify-content: center
  align-items: center
  border-bottom: 1px solid #6B6B6E
  font-size: 14px
