.root
  padding: 15px 15px 20px 15px
  text-align: center

.title
  margin-bottom: 15px

.subTitle
  color: #343A40
  font-family: 'Gilroy', sans-serif

@media ($min-tablet)
  .root
    text-align: left
    padding: 40px 0 75px 0

  .title
    margin-bottom: 30px
  
  .subTitle
    width: 45%
