.moneyBagIcon
  width: 20px
  height: 20px

.handPayIcon
  width: 22px
  height: 22px


@media ($min-tablet)

  .moneyBagIcon
    width: 29px
    height: 29px

  .handPayIcon
    width: 35px
    height: 35px