.root
  font-size: 18px
  color: #fff
  margin: 12px 0 34px 0

.phone
  font-family: "Roboto"
  font-weight: bold
  display: block
  margin-top: 10px
  color: #fff

.email
  margin-top: 10px
  font-weight: bold


@media ($min-tablet)

  .root
    font-size: 14px
    text-align: right
    margin-top: 33px
    margin-left: 20px

  .phone
    margin-top: 20px

  .email
    margin-top: 20px
