.root.root
  min-width: 311px
  max-width: 311px
  height: 48px
  padding: 15px
  margin-bottom: 4px
  border: 1px solid #7A4694
  border-radius: 8px
  outline: none

  svg
    fill: #7A4694

.option
  padding: 0 7px
  height: 40px
  display: flex
  align-items: center
  
  .placeholder
    color: #7F7F7F

@media ($min-desktop)
  .root.root
    min-width: 209px