.dayGroupName
  margin-bottom: 15px

.trialLessonCard
  margin-bottom: 10px

@media ($min-desktop)
  .root
    display: flex
    justify-content: space-between
  
  .dayGroupName
    font-size: 14px
    line-height: 24px
    letter-spacing: 0.5px
    text-align: center
    padding-bottom: 10px
    margin-bottom: 25px
    border-bottom: 1px solid #F8F8F8