.individualCard
  margin-bottom: 40px

.chosenDays
  font-weight: 700
  margin-bottom: 20px

.chosenLessonTitle
  display: flex
  justify-content: space-between

.dayGroupName
  font-size: 16px
  margin-bottom: 10px

.closeIcon
  width: 13px
  height: 13px
  cursor: pointer