.root
  display: flex

.baseAnalytics
  display: flex
  justify-content: space-between
  margin-right: 12px
  width: 80px

.tabletOrWider
  display: none


@media ($min-tablet)

  .baseAnalytics
    display: none

  .tabletOrWider
    display: inline