.root
  position: relative

.input
  border-radius: 16px
  height: 32px
  background-color: #F3F3F3
  border: none
  width: 100%
  padding: 0 16px
  box-sizing: border-box

.button
  position: absolute
  right: 4px
  transform: translateY(-50%)
  top: 50%
  width: 26px
  height: 26px
  background-color: $fiolet
  color: #fff
  border: none
  border-radius: 100%
  display: flex
  justify-content: center
  align-items: center
  font-size: 22px
