.label
  font-weight: 500
  margin-bottom: 15px

.asterisk
  color: #FF2E00

.radioLabelGroup
  display: flex
  align-items: center

  &:hover
    cursor: pointer

  &:not(:last-child)
    margin-bottom: 20px

.radioLabel
  margin-left: 10px
  color: #fff

.error
  line-height: 20px
  font-size: 13px
  color: #FF2E00