.header
  display: none

.filters
  display: flex
  flex-direction: column
  align-items: center

@media ($min-desktop)

  .header
    font-size: 24px
    font-weight: 700
    line-height: 30px
    height: 90px
    display: flex
    justify-content: center
    align-items: center

  .filters
    flex-direction: row
    justify-content: space-between
  
    .filter
      width: 265px