.layout
  padding-top: 40px
  padding-bottom: 40px

.title
  font-size: 28px
  font-weight: 700
  text-align: center
  color: #282D4C
  line-height: 35px

  .link
    color: #E46039

.images
  display: flex
  flex-wrap: wrap
  margin: 0 -18px

.picture
  width: calc(50% - 40px)
  margin: 20px
  overflow: hidden

.image
  width: 100%
  height: auto

@media ($min-desktop)

  .picture
    width: calc(33.3333% - 30px)
    margin: 15px