.title
  font-weight: 600
  font-size: 16px
  margin-bottom: 4px

.input
  margin-top: 16px

.error
  margin-top: 4px
  font-size: 14px
  color: #E46039
  text-align: center

.submitButton
  margin: 20px auto 0 auto